.result-menu {
    border: 2px solid red;
}

.hidden {
    display:none;
}

.displayed {
    display: block;
}

.report-menu {
    position: absolute;
    z-index:999;
    width:200px;
    height:100px;
}